html, body {
  height: 100%;
  width: 100%;

  margin: 0;
  padding: 0;

  background-color: #FAFAFA;
}

#root {
  height: 100%;
  width: 100%;

  display: flex;
}

.App {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
}

.AppNavigation {
  height: 92%;
  width: 100%;

  display: flex;
}

